$text-primary-color: #000;
$dark-blue: #303644;
$brand-color: #09b3af;
$brand-color-darken: darken(#09b3af, 5);

$grey-darker:           lighten(#000, 13.5%);
$grey-dark:             lighten(#000, 20%);
$grey:                  lighten(#000, 33.5%);
$grey-light:            lighten(#000, 70%);
$grey-lighter:          lighten(#000, 88%);
$blue-darker:           #303644;
$blue-dark:             #09b3af;
$blue:                  $brand-color;
$blue-light:            #82D3D6;
$blue-lighter:          #D7EBEA;
$blue-lightest:         lighten(#D7EBEA, 8);

$grey-line: #e0e0e0;
$brand-color-lightest: #D6EBEA;

@import 'node_modules/uikit/dist/scss/uikit-mixins';
@import 'node_modules/uikit/dist/scss/uikit-variables';

$badge-background: $brand-color;
$modal-z-index: 2010;
$base-link-color:                                $blue-darker;
$base-link-text-decoration:                      none;
$base-link-hover-color:                          $blue-darker;
$base-link-hover-text-decoration:                none;
$button-link-color: $blue-darker;
$button-link-hover-color: $blue-darker;
$button-link-hover-text-decoration: none;
$base-body-font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-heading-font-family: $base-body-font-family;
$base-h1-font-size: 26px;
$form-height:                                    40px;
$form-padding:                                   10px;
$form-border:                                    #EBEFF0;
$form-color:                                     #677476;
$form-focus-border:                              #99baca;
$form-focus-background:                          #f5fbfe;
$form-focus-color:                               #444;
$form-small-height:                              25px;
$form-large-height:                              50px;
$form-small-padding:                             3px;
$form-large-padding:                             12px;
$form-horizontal-label-width:                    25%;
$form-horizontal-label-margin-top:               5px;
$form-horizontal-controls-margin-left:           30%;
$form-horizontal-controls-text-padding-top:      5px;
$icon-hover-color: #C1C1C1;
$button-primary-background:                      $brand-color;
$button-primary-hover-background:                $brand-color-darken;
$button-primary-active-background:               $brand-color;
$button-height:                                  $form-height - 2px;
$button-large-height:                            $form-large-height;
$button-small-height:                            $form-small-height - 2px;
$button-small-line-height:                       $form-small-height - 2px;
$button-line-height:                             $form-height - 2px;
$button-large-line-height:                       $form-large-height;
$button-padding-horizontal:                      20px;
$button-large-padding-horizontal:                25px;
$button-background: #FFF;
$nav-dropdown-hover-background: $brand-color;
$pagination-padding-vertical:                    5px;
$pagination-padding-horizontal:                  10px;
$pagination-line-height:                         30px;
$pagination-background:                          #fff;
$pagination-hover-background:                    #eee;
$pagination-active-background:                   $brand-color;
$pagination-active-color:                        #fff;
$form-focus-border:                              $brand-color;
$form-focus-background:                          $blue-lightest;
$breadcrumb-divider:                             '\f054';

@import 'node_modules/uikit/dist/scss/uikit';
@import 'components/*';
